[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.3"
jedi = "==0.17.2"

[packages]
markdownify = "==0.5.3"
flask = "==1.1.2"

[requires]
python_version = "3.8"
